<div class='photo-card'>
  <a class='gallery-item' loading='lazy' href={{largeImageURL}}>
    <img
      class='gallery-image'
      loading='lazy'
      src={{webformatURL}}
      alt='{{tags}}'
    />
  </a>
  <ul class='info-wrapper'>
    <li class='info-item'><b>Likes:<p>{{likes}}</p></b></li>
    <li class='info-item'><b>Views:<p>{{views}}</p></b></li>
    <li class='info-item'><b>Comments:<p>{{comments}}</p></b></li>
    <li class='info-item'><b>Download:<p>{{downloads}}</p></b></li>
  </ul>
</div>

  {{!-- <div class="photo-card">
  <img src="" alt="" loading="lazy" />
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
    </p>
    <p class="info-item">
      <b>Views</b>
    </p>
    <p class="info-item">
      <b>Comments</b>
    </p>
    <p class="info-item">
      <b>Downloads</b>
    </p>
  </div>
</div> --}}